* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right bottom, #4ec87d, #883c99);
    font-family: Arial, sans-serif;
    color: #333;
}

#main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#Notes {
    width: 300px;
}

#addBtn {
    position: fixed;
    top: 20px;
    right: 20px;
    color: #fff;
    background-color: #4caf50;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    outline: none;
    z-index: 999;
}

#addBtn:hover {
    background-color: #45a049;
}

.tool {
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.tool i {
    cursor: pointer;
    margin-right: 10px;
    color: #333;
    transition: color 0.3s;
}

.tool i:hover {
    color: #cc0000;
}

textarea {
    width: 100%;
    border: none;
    resize: none;
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
}
